{% extends 'base.html' %}
{% block title %}About us{% endblock %}
{% block main %}
<div class="about-container">
  <h1>Delicious GmbH</h1>
  <p>We are here for you. Our ideal is to deliver the tastiest food to the farthest places. At the moment our company is web based, thus we are only doing deliveries by request</p>
  <p>Delicious GmbH, Bon appetit!</p>
  <p>Developed by <a href="http://www.linkedin.com/in/carlos-rodríguez-78207a192">Carlos Alberto Rodr&iacute;guez Freitag</a>.</p>
</div>
{% endblock %}
