{% extends 'bootstrap.html' %}

{% block content %}
<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-dark shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal text-white">Delicious</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white-50" href="/products/catalogue">Catalogue</a>
      <a class="p-2 text-white-50" href="/user/login">Log in</a>
      <a class="p-2 text-white-50" href="/user/register">Register</a>
      <a class="p-2 text-white-50" href="/brand/support">Support</a>
      <a class="p-2 text-white-50" href="/brand/about">About</a>
    </nav>
  </div>
</header>
<main role="main">
  {% block main %}{% endblock %}
</main>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Delicious GmbH, Bon appetit!<br>This is a test of my programming abilities!</p>

  </div>
</footer>
{% endblock %}
