{% extends 'bootstrap.html' %}

{% block content %}
<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-dark shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal text-white">Delicious</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white-50" href="#">Checkout</a>
      <a class="p-2 text-white-50" href="#">Register</a>
      <a class="p-2 text-white-50" href="#">Support</a>
      <a class="p-2 text-white-50" href="#">About</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Login</a>
  </div>
</header>
<main role="main">
  {% block main %}{% endblock %}
</main>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Delicious GmbH, Bon appetit!</p>
    <p>Developed by <a href="http://www.linkedin.com/in/carlos-rodríguez-78207a192">Carlos Alberto Rodr&iacute;guez Freitag</a>.</p>
  </div>
</footer>
{% endblock %}
