{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block main %}
<form class="form-register" method="post">
  <h1 class="mt-5 mb-3 font-weight-normal text-center">Registration</h1>
  <p class="lead text-center">Big things have always small beginnings. Register today to feel the food experience of tomorrow.</p>
  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username" required>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" required>
  </div>
   <div class="form-group">
    <label for="inputFirstname">First name</label>
    <input type="text" class="form-control" id="inputFirstname" name="inputFirstname" placeholder="First name" required>
  </div>
  <div class="form-group">
    <label for="inputLastname">Last name</label>
    <input type="text" class="form-control" id="inputLastname" name="inputLastname" placeholder="Last name" required>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" name="inputAddress" placeholder="Address" required>
  </div>
  <button class="btn btn-primary btn-lg btn-block" type="submit">Ready to register</button>
</form>
{% endblock %}
